.closet {
  margin: 10px;
  &__card-list {
    display: flex;
    overflow-x: scroll;
  }
  h4 {
    margin: 0 auto 0 10px;
    padding-top: 10px;
  }
}

.btn-floating.btn-large {
  position: fixed;
  bottom: 40px;
  right: 40px;
}

.wear-regist-modal {
  width: 300px;
  height: 380px;
  background-color: white;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 10;
  border: 2px solid #bdbdbd;
  &__contents {
    position: relative;
    width: 100%;
    height: 100%;
    .close-btn {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      position: absolute;
      top: -5px;
      right: -5px;
      text-align: center;
      background-color: #e53935;
      border: none;
    }
    .selected-img {
      height: 50%;
      width: 100%;
      background-color: white;
      border-bottom: 2px solid #bdbdbd;
      img {
        width: 296px;
        height: 188px;
      }
    }
    .input-wear-info {
      width: 80%;
      margin: 15px auto 0px auto;
    }
    .input-field.col.s6 {
      margin-top: 20px;
      margin-bottom: 5px;
    }
    .send-btn {
      width: 100%;
    }
  }
}

.outfit {
  margin: 10px;
  height: 50%;
  &__card-list {
    display: flex;
    overflow-x: scroll;
    img {
      width: 300px;
      height: 300px;
      margin: 10px;
    }
  }
  h4 {
    margin: 0 auto 0 10px;
    padding-top: 10px;
  }
}

.recommend {
  height: 50%;
  margin: 10px;
  &__card-list {
    display: flex;
    overflow-x: scroll;
  }
  h4 {
    margin: 0 auto 0 10px;
    padding-top: 10px;
  }
  img {
    margin: 10px;
  }
}

.card.wear-card {
  margin: 10px;
  .card__image {
    width: 400px;
    height: 245px;
    text-align: center;
    position: relative;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .card__content {
    background-color: #424242;
    color: white;
    .wear-color {
      display: flex;
      &__box {
        height: 20px;
        width: 100px;
        margin-left: 5px;
      }
    }
  }
}

.card {
  height: 350px;
  width: 400px;
  margin: 15px
}

.card-title {
  position: absolute;
  top:200px;
  left: 20px;
  color: white;
}
.card__content {
  width: 100%;
  height: 30%;
  padding: 15px 30px;
  font-size: 20px;
}
li {
  margin-bottom: 5px;
}

.wear-update-modal {
  height: 100vh;
  width: 100vw;
  &__black {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(45,45,45, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  .update-area {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 600px;
    background-color: white;
    z-index: 101;
    text-align: center;
    .wear-image {
      height: 50%;
      max-width: 80%;
    }
    .update-form {
      height: 50%;
      width: 80%;
      margin: 10px auto 0 auto;
      .type-brand {
        display: flex;
        justify-content: space-between;
      }
      .color-rgb {
        display: flex;
        justify-content: space-between;
        .color-num {
          width: 20%;
        }
        .wear-color__box {
          height: 20px;
          width: 100px;
          margin: auto 0;
        }
      }
    }
  }
}