@keyframes wave{
  0%{
    transform: scale(0);
    box-shadow: 0 0 100px inset #a1887f;
  }
  100%{
    transform: scale(0.95);
    opacity: 0.3;
  }
}

@keyframes slide{
  0%{left: -350px;}
  100%{left: 40px;}
}

@keyframes swing {
  0% { transform: rotate(0deg); }
  25% {transform: rotate(-30deg); }
  50% {transform: rotate(0deg); }
  75% {transform: rotate(30deg); }
  100% {transform: rotate(0deg); }
}

@keyframes fadeout {
  0% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

@keyframes lightbulb {
  0% {color: black;}
  100% {color: #ffee58}
}

.closet {
  padding-top: 64px;
  margin: 0 10px 10px 10px;
  font-family: 'Josefin Sans', sans-serif;
  &__card-list {
    display: flex;
    overflow-x: scroll;
  }
  h4 {
    margin: 0 auto 0 10px;
    padding-top: 10px;
    color: white;
  }
  .effect-btn {
    height: 70px;
    width: 70px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 100;
    .circle {
      height: 100%;
      width: 100%;
      border: solid thin #6d4c41;
      position: absolute;
      animation: wave 1s infinite;
    }
    .layer1 {
      animation-delay: 0s;
    }
    .layer2 {
      animation-delay: 0.2s;
    }
    .layer3 {
      animation-delay: 0.4s;
    }
    .btn-floating.btn-large {
      height: 80%;
      width: 80%;
      position: absolute;
      top: 10%;
      left: 10%;
    }
  }
}


.wear-regist-modal {
  width: 300px;
  height: 380px;
  background-color: white;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 101;
  &__contents {
    position: relative;
    width: 100%;
    height: 100%;
    .close-btn {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      position: absolute;
      top: -5px;
      right: -5px;
      text-align: center;
      background-color: #e53935;
      border: none;
    }
    .selected-img {
      height: 50%;
      width: 100%;
      background-color: #eeeeee;
      img {
        width: 296px;
        height: 188px;
      }
    }
    .input-wear-info {
      width: 80%;
      margin: 15px auto 0px auto;
    }
    .input-field.col.s6 {
      margin-top: 20px;
      margin-bottom: 5px;
    }
    .send-btn {
      width: 100%;
    }
  }
}

.outfit {
  margin: 10px;
  height: 50%;
  font-family: 'Josefin Sans', sans-serif;
  &__card-list {
    display: flex;
    overflow-x: scroll;
    img {
      width: 300px;
      height: 300px;
      margin: 10px;
    }
  }
  h4 {
    margin: 0 auto 0 10px;
    padding-top: 10px;
    color: white;
  }
}

.recommend {
  height: 50%;
  margin: 10px;
  font-family: 'Josefin Sans', sans-serif;
  &__card-list {
    display: flex;
    overflow-x: scroll;
  }
  h4 {
    margin: 0 auto 0 10px;
    padding-top: 10px;
    color: white;
  }
  img {
    margin: 10px;
  }
}

.card.wear-card {
  margin: 10px;
  .card__image {
    cursor: pointer;
    width: 400px;
    height: 245px;
    text-align: center;
    position: relative;
    overflow: hidden;
    img {
      max-width: 100%;
      max-height: 100%;
      transition-duration: 0.3s;
    }
    img:hover {
      transform: scale(1.1);
      transition-duration: 0.3s;
      opacity: 0.6;
    }
  }
  .card__content {
    background-color: #424242;
    color: white;
    display: flex;
    justify-content: space-between;
    li {
      margin-bottom: 10px;
    }
    .wear-color {
      display: flex;
      &__box {
        height: 20px;
        width: 100px;
        margin-left: 5px;
      }
    }
    .wear-delete-btn {
      cursor: pointer;
      color: white;
      margin: auto 0;
      font-size: 35px;
    }
  }
}

.card {
  height: 350px;
  width: 400px;
  margin: 15px
}

.card-title {
  position: absolute;
  top:200px;
  left: 20px;
  color: white;
}
.card__content {
  width: 100%;
  height: 30%;
  padding: 15px 30px;
  font-size: 20px;
}
li {
  margin-bottom: 5px;
}

.wear-update-modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 102;
  &__black {
    height: 100%;
    width: 100%;
    background: rgba(45,45,45, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .update-area {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 600px;
    background-color: #eeeeee;
    text-align: center;
    .wear-image {
      height: 50%;
      max-width: 80%;
    }
    .update-form {
      height: 50%;
      width: 100%;
      background-color: white;
      padding: 10px 30px 0 30px;
      .type-brand {
        display: flex;
        justify-content: space-between;
      }
      .color-rgb {
        display: flex;
        justify-content: space-between;
        .color-num {
          width: 20%;
        }
        .wear-color__box {
          height: 20px;
          width: 100px;
          margin: auto 0;
        }
      }
    }
  }
}

.flash-message {
  height: 100px;
  width: 300px;
  position: fixed;
  bottom: 40px;
  left: 40px;
  border-radius: 5px;
  padding: 20px;
  animation: fadeout 0.5s linear 5s 1, slide 1s 1;
  animation-fill-mode: forwards;
  background-color: black;
  z-index: 103;
  .notifications {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    .notif-icon {
      color: white;
      font-size: 30px;
      animation: swing linear 0.5s 4;
      transform-origin: center top 0;
    }
    p {
      color: white;
      margin-left: 15px;
      padding-top: 5px;
      font-size: 1.5em;
    }
  }
}

.wear-advise {
  height: 150px;
  width: 300px;
  position: fixed;
  bottom: 160px;
  left: 40px;
  border-radius: 5px;
  padding: 10px;
  animation: fadeout 0.5s linear 10s 1, slide 1s 1;
  animation-fill-mode: forwards;
  background-color: black;
  z-index: 103;
  .notifications {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    .notif-icon {
      color: white;
      font-size: 30px;
      animation: lightbulb linear 0.5s 6;
      animation-fill-mode: forwards;
      transform-origin: center top 0;
    }
    p {
      color: white;
      margin-left: 15px;
      padding-top: 5px;
      font-size: 1.2em;
    }
  }
}